<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
    <h1>Todo Page</h1>
    <ul>
        {% for items in items %}
            <li>{{ items.content }}
                <form action="/deleteTodo/{{ items.id }}" style="display: inline" method="post">{% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="/addTodo/" method="post">{% csrf_token %}
        <input type="text" name="content"/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>